# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Secrets
.env
.env.*
*.p12
*.mobileprovision
